argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
cffi==2.0.0
construct==2.10.70
docxtpl==0.20.2
Jinja2==3.1.6
lxml==6.1.1
MarkupSafe==3.0.3
pycparser==3.0
pycryptodomex==3.23.0
pykeepass==4.1.1.post1
pyotp==2.9.0
PySide6==6.11.0
PySide6_Addons==6.11.0
PySide6_Essentials==6.11.0
python-docx==1.2.0
shiboken6==6.11.0
typing_extensions==4.15.0